body{
    padding-top: 80px;
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

img {
    display: block;
  }

.section {
    padding: 94px 0;
}
main > .projects-section {
    padding: 0 0 94px 0;
}
//  Контейнер 
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}